In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1000KYJQW03FB,4,0,0,N,N
1,R1000QLM7RD5A0,5,0,0,N,Y
2,R1001BHT0TIGVT,1,0,1,N,Y
3,R10069GAHXAJRT,1,0,3,N,Y
4,R1006CHD2JHHCD,4,0,0,N,Y

In [3]:
vine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145431 entries, 0 to 145430
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   review_id          145431 non-null  object
 1   star_rating        145431 non-null  int64
 2   helpful_votes      145431 non-null  int64
 3   total_votes        145431 non-null  int64
 4   vine               145431 non-null  object
 5   verified_purchase  145431 non-null  object
dtypes: int64(3), object(3)
memory usage: 6.7+ MB

In [4]:
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7,R1007PT85CIPMD,5,541,588,N,N
34,R1014LF6XZUIY6,5,28,32,N,Y
43,R101EEMMZPAFEC,1,12,41,N,N
46,R101FBWNTMUD83,4,16,23,N,N
67,R102DJOEH4BUX5,5,59,82,N,N

In [5]:
new_vine_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
new_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7,R1007PT85CIPMD,5,541,588,N,N
34,R1014LF6XZUIY6,5,28,32,N,Y
46,R101FBWNTMUD83,4,16,23,N,N
67,R102DJOEH4BUX5,5,59,82,N,N
90,R1033N6AK6E5BU,1,35,41,N,N

In [6]:
vine_reviews = new_vine_df[new_vine_df['vine'] == 'Y']
vine_reviews.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [7]:
not_vine_reviews = new_vine_df[new_vine_df['vine'] == 'N']
not_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7,R1007PT85CIPMD,5,541,588,N,N
34,R1014LF6XZUIY6,5,28,32,N,Y
46,R101FBWNTMUD83,4,16,23,N,N
67,R102DJOEH4BUX5,5,59,82,N,N
90,R1033N6AK6E5BU,1,35,41,N,N

In [8]:
count_vine = len(vine_reviews)
count_vine

0

In [9]:
count_nonvine = len(not_vine_reviews)
count_nonvine

1685

In [10]:
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

0

In [11]:
max_rating_nonvine = len(not_vine_reviews[not_vine_reviews['star_rating']==5])
max_rating_nonvine

631

In [12]:
#max_rating_vine/count_vine

ZeroDivisionError: division by zero

In [13]:
max_rating_nonvine/count_nonvine

0.3744807121661721

In [14]:
round(not_vine_reviews['star_rating'].mean(),2)

3.17